<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Casino",
      "@id": "https://glitchspin.us.com/#glitchspin-casino",
      "name": "GlitchSpin",
      "url": "https://glitchspin.us.com/",
      "sameAs": [
        "https://dk.trustpilot.com/review/glitchspin.com",
        "https://www.askgamblers.com/online-casinos/reviews/glitchspin-casino"
      ],
      "license": {
        "@id": "https://glitchspin.us.com/#license-curacao-gcb-ogl-2024-589-0556"
      },
      "provider": {
        "@id": "https://glitchspin.us.com/#operator-gbl-solutions"
      }
    },
    {
      "@type": "Organization",
      "@id": "https://glitchspin.us.com/#license-curacao-gcb-ogl-2024-589-0556",
      "name": "Curaçao Gaming Control Board",
      "url": "https://www.gamingcontrolcuracao.org/"
    },
    {
      "@type": "Organization",
      "@id": "https://glitchspin.us.com/#operator-gbl-solutions",
      "name": "GBL Solutions N.V.",
      "legalName": "GBL Solutions N.V.",
      "identifier": "OGL/2024/589/0556",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Dr. Henri Fergusonweg 1",
        "addressCountry": "CW"
      }
    }
  ]
}
</script>
